# This file is where you define your pipelines. You can define multiple.
# For more information on multiple pipelines, see the documentation:
#   https://www.elastic.co/guide/en/logstash/current/multiple-pipelines.html

- pipeline.id: main
  path.config: "/etc/logstash/conf.d/*.conf"

{% if logstash_pipelines is defined %}
{%- for pipline_name, pipeline in logstash_pipelines.iteritems() %}
- pipeline.id: {{ pipeline_name }}
  path.config: "/etc/logstash/{{ pipeline.config_dir }}/*.conf"
{% endfor %}
{% endif %}
